@model IEnumerable<FitnessApp.DTOs.MyNutirationsDTO>
@{
    ViewData["Title"] = "MyNutrations";
}

<h1>My Nutrations</h1>


    <div class="col-12">
        <div class="table-responsive flex-row justify-content-end">
            <table class="table table-bordered" id="example" >
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MealName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfNutrition)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NameOfDay)
                        </th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if(item.DateOfNutrition < DateTime.Now)
                        {
                            <tr >
                                <td>
                                    @Html.DisplayFor(modelItem => item.MealName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfNutrition)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameOfDay)
                                </td>
                                <td>
                                    <span class="badge bg-danger">Finished</span>
                                </td>
                            </tr>

                        }
                        else
                        {
                            <tr >
                                <td>
                                    @Html.DisplayFor(modelItem => item.MealName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfNutrition)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameOfDay)
                                </td>
                                <td>
                                    <span class="badge bg-success">In progress</span>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>



            </div>

        </div>


