@model FitnessApp.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfExercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfExercise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseTO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseTO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseTimeFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseTimeFormat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
