@model IEnumerable<FitnessApp.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered" id="example" style="min-width: 840px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Userpays)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.RemainingValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPayDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Member)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        #@item.SerialNumber
                    </td>
                    <td>
                        @item.TotalAmount.ToString("C")
                    </td>
                    <td>
                        @item.Userpays.ToString("C")
                    </td>

                    <td>
                        @item.RemainingValue.ToString("C")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserPayDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Person.Email)
                    </td>
                    <td>
                        <partial name="_Buttons" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>